<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark">
    <a class="navbar-brand" href="#"><b>IMDB Sentiment Analysis</b></a>
  </nav>
  <div class="container">
    <h2 id="ip3">Review Sentiment Analysis</h2>
    <div class="ml-container">
      <form action="{{ url_for('predict') }}" method="POST">
        <p>Enter Your review Here</p>
        <textarea name="Reviews" required="required" id="ip4"></textarea>
        <br/><br/>
        <input type="submit" class="btn-primary" value="Predict">
      </form>
    </div>
  </div>
</body>
</html>
